# Intellij
*.iml
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
.idea/modules.xml
.idea/dataSources/
.idea/dataSources.local.xml
.idea/httpRequests
.idea/sonarlint/
.idea/uiDesigner.xml
.idea/jarRepositories.xml
.idea/artifacts
.idea/dictionaries
.idea/libraries

# Build
target
out*.log

# Other
/girders-demos/girders-demo-showcase/src/main/webapp/META-INF/context.xml
/girders-demos/girders-demo-test/logs


