<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{head :: head}" />
  <body>
    <div th:replace="~{header :: header}" />
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4" th:text="#{feature.crypto.header}" />
        <p class="lead" th:text="#{feature.crypto.leadText}" />
      </div>
      <p><span th:text="#{feature.crypto.encryptedValue.label}" />: <strong th:text="${textEncrypted}" /></p>
    </div>
    <div th:insert="~{footer :: footer}" />
    <div th:insert="~{foot :: foot}" />
  </body>
</html>
